<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SGB"
			connectionString="Server=OSA0716381W11-1\SQLEXPRESS;Database=SGB;Integrated Security=True;TrustServerCertificate=True" />
		<!--Aqui só falta por o db local depois de "Server=" e antes de "\SQLEXPRESS"-->
	</connectionStrings>
</configuration>